*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: blue;
    cursor: url("images/decor.jpg"),auto;
   

}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}
.box1{
  
    background-color: red;
    

}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
}
