*{
    margin: 0px;
    padding: 0px;
}


/* header starts here */

.menu-container{
    background-color: rgb(55, 49, 49);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 100px;
   
}
.menus{
    display: flex;
    color: white;

}
.logo-pic{
    padding: 20px;
    width: 120px;
}

.item{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    border: 30px;
    border-radius: 5px;
    background-color: rgb(68, 168, 168);
}

/* header ends here */



/* main starts here */

.banner-container{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: 2px solid rgb(27, 24, 24);

    background-image: url("images/background.png"),linear-gradient(45deg,rgb(0,0,0),rgb(132, 122, 122));
  
    
    align-items: center;
   
    

}
.banner-text{
    margin: 50px;
}

.banner-text,h1{
    font-size: 50px;
    padding: 10px;
    

}

.banner-text,p{
    font-size: 20px;
    padding: 10px;
}
.banner-img{
    height: 400px;
    width:400px;
 
}
.btn{
    margin: 10px;
    padding: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.about-title{
    padding: 20px;
    text-align: center;
}

.about-info{
    font-size: 20px;
}
.about-info,h2{
    margin: 10px;
}


.service-container{
    
    height: 70vh;
    
    /* align-items: center; */
    color: white;
    border: 2px solid rgb(27, 24, 24);
    
    flex-wrap: wrap;

    background-image: url("images/background.png"),linear-gradient(45deg,rgb(40, 35, 35),rgb(40, 35, 35));
  
    
    
}

.box-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box{
    width: 200px;
    height: 280px;
    /* border: 1px solid gray; */
    padding: 15px;
    text-align: center;
    box-shadow: 4px  2px 105px gray;
    border-radius: 10px;
}
.box p{
    padding: 0px;
    font-size: 15px;
    text-align: center;
}
.box-title{
    padding:10px;
    font-size: 25px;
}
.box-btn{
    background-color: #1c1b1b;
}
.icon{
    width:70px;
    color: #2e2e2e;
}

/* main ends here */




/* footer starts here */

footer{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.9));
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    color: white;
    line-height: 1.8em;
   
}

.footer-container{
    background-color: black;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 75%;
    border-bottom: 1px solid gray;
    margin: 0 auto;
}

.footer-container,p{
    font-size: 15px;
}

.logo{
    
    width: 120px;
}

.footer-title{
    padding-bottom: 20px;
}

.copy{
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
/* footer ends here */